<div class="inner cover">
  <p class="lead"><h4 class="no-new-line">Information technology</h4> and <br><h4 class="no-new-line">business</h4> are becoming inextricably interwoven. I don't <br>think <h4 class="no-new-line">anybody</h4> can talk meaningfully about one <h4>without the talking about the other.</h4> <h4>-Bill Gates</h4></p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
